
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: #fff;
    background-image:url('bg.jpeg');
}
a,
a:link {
    outline: none;
}
h1 {
    font-weight: 100;
    font-size: 72px;
    margin: 20px 0;
}

.cliptop {
margin-bottom: -34px;
}

#todo {
font-family: casual;

}

#container {
    margin-top: 0px;
    width: 550px;
    text-align: center;
    margin: 20px auto;
    border-style:solid;
border-color: #AD8107;
border-width:10px;
background-color: #f9f7af;
border-radius: 15px;

}
input[type="text"] {
    border-style: none;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    border-bottom: 2px solid red;
    background-color: #f9f7af;
}
input[type="submit"] {
    height: 30px;
    width: 30px;
    padding: 10px;
    background:url(pencil.png) no-repeat; 
    background-size: 100%;
    border-style: none;
    cursor: pointer;
    outline: none;
}
ul {
    margin: 15px auto 0;
    padding: 0;
    width: 535px;
    border-left: 3px double red;
}
ul li {
    list-style-type: none;
    font-size: 24px;
    font-family: casual;
    cursor: move;
    background-color: #fcf4acr;

    padding: 10px;
    text-align: left;
border-bottom: 1px solid red;
margin-bottom: 0px;


    
}
ul li span {
    cursor: text;
}
ul li a,
ul li a:link {
    float: right;
    display: none;
    text-decoration: none;
    color: #f03;
}




